{% extends "base.html" %}

{% block content %}
{% load crispy_forms_tags %}

<div class="row">

    {% include 'dashboard/sidebar.html' %}

    <div class="col-md-9">
        {% if perms.auth.add_user %}
        <h6>ADD NEW USER</h6>
        <a href="{% url 'users' %}" class="btn btn-primary text-light float-right mb-2">Back</a>

        <form action="{% url 'add_user' %}" method="POST">
            {% csrf_token %}
            {{ form | crispy }}

            <button type="submit" class="btn btn-primary float-right">Submit</button>
        </form>
        {% else %}
        <h5 class="text-danger mt-5">You don't have an access to add any new user !</h5>
        {% endif %}
        
    </div>
</div>

{% endblock %}

